/*/
/*
/* Rank: 3
/* Standard：Google
/*
/*/

body {
  background: #FFF;
}

/*@media only screen and (min-width:420px) {
  .details {
    width:400px;
    margin:0 auto;
  }
}*/

.angelcrunch-brand {
  width:87.2%;
  height:auto;
  margin:0 auto;
  margin-top:38px;
  margin-bottom:70px;
}

.angelcrunch-brand img {
  width:100%;
}

.banner-footer {
  margin-top:216px;
}