/*/
/*
/* Rank: 3
/* Standard：Google
/*
/*/


.angelcrunch-brand {
  width:87.2%;
  height:auto;
  margin:0 auto;
  margin-top:38px;
  margin-bottom:70px;
}

.angelcrunch-brand img {
  width:100%;
}

.banner-footer {
  margin-top:116px;
}