/*/
/*
/* Rank: 3
/* Standard：Google
/*
/*/

.hidden {
  display:none;
}

.slogan {
  text-align:center;
  padding:32px 2% 34px 2%;
  background:#F5F5F5;
}

.avatar-area h1,
.stars section h1,
.slogan h1 {
  font-size:28px;
  line-height:46px;
}

@media only screen and (max-width: 345px) {
  .avatar-area h1,
  .stars section h1,
  .slogan h1 {
    font-size:26px;
    line-height:42px;
  }
}

.slogan h1 {
  line-height:34px;
  margin-bottom:5px;
}

.slogan p {
  line-height:18px;
  margin:0 5%;
}
@media only screen and (max-width: 345px) {
  .slogan p {
    margin:0 2%;
  }
}


/*******************
        Stars
 ********************/

.stars section {
  display:inline-block;
  width:100%;
  text-align:center;
  padding:12px 0 15px;
}

.stars section:nth-child(2n) {
  background:#F5F5F5;
}

.stars section h1 {
  margin-bottom:6px;
}

.stars section ul {
  display:inline-block;
  width:100%;
  padding-left:1%;
}

.stars section li {
  width:32.7%;
}

.stars section li .pic {
  margin:0 11.9%;
}

.stars section li .pic img {
  width:100%;
  max-width:125px;
}

.stars section li p {
  font-size:22px;
  margin-top:2px;
}


/************************
       Registration
 ************************/

.avatar-area {
  display:inline-block;
  width:100%;
  text-align:center;
  padding-bottom:16px;
}

.avatar-area h1 {
  line-height:30px;
  margin:32px 0 6px;
}

.avatar-area p {
  padding:0 8%;
  line-height:18px;
}

.avatar-area .avatar {
  width:90px;
  height:90px;
  margin:22px auto 6px;
  background:url(/static/images/wapsite/cssimage/129878912323.png) no-repeat;
  background-size:90px;
}

.upload-playground .image-container.loading,
.avatar-area .avatar.loading {
  background-image: url(/static/images/wapsite/cssimage/preloader_12837189237.gif);
}

.avatar-area .avatar img {
  width:90px;
}

.registration label .btn {
  width:76px;
  height:26px;
  float:right;
  font-size:14px;
  padding:1px 10px 0;
  margin-top:12px;
  margin-right:16px;
  border-color:#A9A9A9;
}

.registration label .btn:hover {
  background:none;
}

.details {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.registration label i em {
  display:inline-block;
  float:right;
  font-size:20px;
  line-height:48px;
  margin-right:16px;
  padding:0 8px;
}


#phone {
  width:50%;
  max-width:180px;
}
@media only screen and (max-width: 359px) {
  #phone {
    width: 38%;
    max-width: 180px;
  }
}

#pwd {
  width:50%;
}

#verify-code {
  width:50%;
  margin-left:112px;
}


/*************************
     Upload Playground
 **************************/

.upload-playground {
  display:none;
}

.upload-playground {
  width:100%;
  margin-bottom:10px;
}

.upload-playground p {
  display:inline-block;
  line-height:44px;
  margin-left:3.4%;
}

.upload-playground .image-container {
  max-width:90%;
  height:108px;
  margin-left:3.4%;
  background:no-repeat -11px top scroll;
  background-size:80px;
}

@media only screen and (min-width: 748px) {
  .upload-playground .image-container,
  .upload-playground p {
    margin-left:2.2%;
  }
}

@media only screen and (min-width: 998px){
  .upload-playground .image-container,
  .upload-playground p {
    margin-left:3.3%;
  }
}

.upload-playground .image-container img {
  max-width:100%;
  height:100%;
}