/*/
/*
/* Rank: 3
/* Standard：Google
/*
/*/

.success-desc {
  min-height:192px;
  padding:40px 10% 36px;
  background:#F5F5F5;
  text-align:center;
}

.success-desc .icon {
  display:inline-block;
}

.success-desc .icon img {
  width:46px;
}

.success-desc h1 {
  font-size:26px;
  line-height:38px;
}

.success-desc p {
  line-height:16px;
}

.control-module {
  width:100%;
  margin-top:28px;
}

.control-module p {
  line-height:36px;
  text-align:center;
}

.banner-footer {
  margin-top:216px;
}



.download-module {
  width:100%;
  margin-top:36px;
}

.download-module>p {
  text-align:center;
  line-height:38px;
}

.download-module ul {
  width:100%;
  padding:0 5.5%;
}

.download-module li {
  display:inline-block;
  float:left;
  width:47%;
  height:46px;
  padding-left:15%;
  border-radius:8px;
  background:#333 url(/static/images/wapsite/cssimage/android-icon.png) no-repeat 10% center scroll;
  background-size:28px;
  cursor:pointer;
}

.download-module li:last-child {
  float:right;
}

.download-module li.ios {
  background-image:url(/static/images/wapsite/cssimage/ios-icon.png);
  background-size:24px;
}
  
.download-module li p {
  height:16px;
  overflow:hidden;
  font-size:12px;
  line-height:16px;
  margin-top:4px;
  color:#FFF;
}

.download-module li h1 {
  color: #FFF;
  font-size:22px;
}

.no-button-module {
  background-color:#F5F5F5;
  padding-bottom:20px;
}

.no-button-module .control-module {
  display:none;
}

.no-button-module .success-desc {
  margin-bottom:120px;
  padding-left:7%;
  padding-right:7%;
}

.no-button-module .success-desc h1 {
  font-size:32px;
  line-height:52px;
  margin-top:4px;
}

.no-button-module .success-desc .icon img {
  width:56px;
}

.no-button-module .success-desc p {
  line-height:22px;
  margin-top:8px;
}


.TIPS .success-desc h1 {
  margin-top:28px;
}